[submodule "NSAppLoginItems"]
	path = NSAppLoginItems
	url = https://github.com/kainjow/NSAppLoginItems.git
[submodule "MASShortcut"]
	path = MASShortcut
	url = https://github.com/shpakovski/MASShortcut.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
